/* Стили для контейнера */
.cost-item {
    border: 1px solid #ccc; /* Граница контейнера */
    padding: 5px; /* Внутренний отступ контейнера */
    margin-bottom: 5px; /* Отступ снизу контейнера */
    border-radius: 10px; /* Закругление углов контейнера */
    display: flex; /* Использование flex для выравнивания содержимого */
    justify-content: space-between; /* Распределение пространства между элементами по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    background-color: rgb(227, 131, 28); /* Фон контейнера */
}

/* Стили для левого блока */
.cost-item > div:first-child {
    border:  1; /* Левый блок занимает всю доступную ширину */
    margin-right: auto; /* Отступ справа для разделения между блоками */
    display: flex; /* Использование flex для выравнивания содержимого внутри левого блока */
    background-color: #f7f7f7; /* Фон левого блока */
    padding: auto; /* Внутренний отступ левого блока */
    border-radius: 10px; /* Закругление углов левого блока */
}

/* Стили для правого блока */
.cost-item .item-info {
    border: 1; /* Правый блок занимает всю доступную ширину */
    display: flex; /* Использование flex для выравнивания содержимого внутри правого блока */
    background-color: #ccc; /* Фон правого блока */
    padding: auto; /* Внутренний отступ правого блока */
    border-radius: 10px; /* Закругление углов правого блока */
}

/* Стили для даты */
.date {
    flex: 1; /* Дата занимает всю доступную ширину */
    font-size: 20px; /* Размер шрифта для даты */
    font-weight: bold; /* Жирный шрифт для даты */
    margin-bottom: 10px; /* Отступ снизу для разделения между элементами */
    color: #333; /* Цвет текста для даты */
    background-color: #ccc; /* Фон для даты */
    border-top: none; /* Убираем верхнюю границу для даты */
    padding: 10px 10px; /* Внутренний отступ сверху и снизу, и слева и справа для даты */
    border-radius: 5px; /* Закругление углов для даты */
}

/* Стили для названия */
.cost-item h2 {
    font-size: 24px; /* Размер шрифта для названия */
    margin-bottom: 5px; /* Отступ снизу для разделения между элементами */
    color: #007bff; /* Цвет текста для названия */
}

/* Стили для цены */
.price {
    flex: 1; /* Цена занимает всю доступную ширину */
    display: flex; /* Использование flex для выравнивания содержимого внутри цены */
    font-weight: bold;
    flex-direction: column; /* Содержимое цены располагается в столбец */
    font-size: 30px; /* Размер шрифта для цены */
    color: #030303; /* Цвет текста для цены */
    background-color: #ccc; /* Фон для цены */
    padding: 10px; /* Внутренний отступ для цены */
    border-radius: 10px; /* Закругление углов для цены */
}
